PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE messages (
	id INTEGER NOT NULL, 
	user_id VARCHAR, 
	role VARCHAR, 
	content TEXT, 
	created_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE TABLE warranties (
	id INTEGER NOT NULL, 
	duration_months INTEGER NOT NULL, 
	terms TEXT NOT NULL, 
	PRIMARY KEY (id)
);
INSERT INTO warranties VALUES(1,24,'Hanya mencakup cacat produksi.');
INSERT INTO warranties VALUES(2,12,'Termasuk perlindungan kerusakan tidak disengaja.');
CREATE TABLE products (
	id VARCHAR NOT NULL, 
	name VARCHAR NOT NULL, 
	description TEXT NOT NULL, 
	pros TEXT, 
	cons TEXT, 
	warranty_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(warranty_id) REFERENCES warranties (id)
);
INSERT INTO products VALUES('P123','Headphone Wireless','Headphone wireless berkualitas tinggi dengan noise cancellation.','Kualitas suara yang bagus; Nyaman dipakai; Baterai tahan lama','Harga mahal; Case yang besar',1);
INSERT INTO products VALUES('P234','Smartphone X','Smartphone generasi terbaru dengan layar OLED dan sistem triple camera.','Kamera sangat bagus; Performa cepat; Desain premium','Harga tinggi; Tidak ada jack headphone',2);
INSERT INTO products VALUES('P345','Gaming Laptop Pro','Laptop gaming yang powerful dengan grafis RTX dan layar high refresh.','GPU tingkat atas; SSD cepat; Sistem pendingin yang baik','Berat; Baterai cepat habis',1);
CREATE TABLE orders (
	id INTEGER NOT NULL, 
	order_id VARCHAR, 
	user_id VARCHAR, 
	status VARCHAR, 
	tracking VARCHAR, 
	created_at DATETIME, 
	product_id VARCHAR NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(product_id) REFERENCES products (id)
);
INSERT INTO orders VALUES(1,'ORD12345','user1','Shipped','TRACK123','2025-09-20 12:10:24.350549','P123');
INSERT INTO orders VALUES(2,'ORD23456','user2','Processing',NULL,'2025-09-20 12:10:24.350549','P234');
INSERT INTO orders VALUES(3,'ORD34567','user1','Delivered','TRACK789','2025-09-20 12:10:24.350549','P345');
CREATE INDEX ix_messages_id ON messages (id);
CREATE INDEX ix_messages_user_id ON messages (user_id);
CREATE INDEX ix_warranties_id ON warranties (id);
CREATE INDEX ix_products_id ON products (id);
CREATE INDEX ix_orders_user_id ON orders (user_id);
CREATE INDEX ix_orders_id ON orders (id);
CREATE UNIQUE INDEX ix_orders_order_id ON orders (order_id);
COMMIT;
